<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/styles1.css')}}"> 
   </head>
    <body>
        <h1 class="h1">Intelligent  News</h1>
        <meta charset="utf-8">
        <meta name="description" content="Intelligent News: Finding Articles that Matter to You">
        <title>Intelligent News</title>
        
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    </head>
    <body>

        <div class="container">
              <div class="header">
                <nav>
                  <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a></li>
                    <li role="presentation"><a href="#">About</a></li>
                <li role="presentation"><a href="/showSignUp">Contact</a></li>
                  </ul>
                </nav>
                <h3 class="text-muted">Intelligent News: News For You</h3>
        </div>

        {% for message in get_flashed_messages() %}
            <p><b>Error</b>: {{ message }}</p>
        {% endfor %}
        {% if current_user.is_authenticated %}
            <h2>Hi, {{ current_user.nickname }}!</h2>
            <p><a href="{{ url_for('logout') }}">Logout</a></p>
        <div class="row marketing">
        <div class="col-lg-6">
          <h4>Article #1</h4>
          <p>{{titles[0]}} </br> <a href={{urls[0]}} target="_blank"> click here</a> </br>  <a href="like" > like </a><a href="dislike"> &nbsp dislike </a></p>

          <h4>Article #2</h4>
          <p>{{titles[1]}} </br> <a href={{urls[1]}} target="_blank"> click here</a> </br><a href="like"> like </a><a href="dislike">&nbsp dislike </a></p>

          <h4>Article #3</h4>
          <p>{{titles[2]}} </br> <a href={{urls[2]}} target="_blank"> click here</a> </br><a href="like"> like </a><a href="dislike">&nbsp dislike </a></p>
        </div>

        <div class="col-lg-6">
          <h4>Article #4</h4>
          <p>{{titles[3]}} </br> <a href={{urls[3]}} target="_blank"> click here</a> </br><a href="like"> like </a><a href="dislike">&nbsp dislike </a></p>

          <h4>Article #5</h4>
          <p>{{titles[4]}} </br> <a href={{urls[4]}} target="_blank"> click here</a> </br><a href="like"> like </a><a href="dislike">&nbsp dislike </a></p>

          <h4>Article #6</h4>
          <p>{{titles[5]}} </br> <a href={{urls[5]}} target="_blank"> click here</a> </br><a href="like"> like </a><a href="dislike"> &nbsp dislike </a></p>
        </div>
      </div>

    {% else %}      
        <div class="p1">
        <span class="p2" style="text-align:center;">
            <strong>LOGIN</strong>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            <p><a href="{{ url_for('oauth_authorize', provider='facebook') }}"><button class="button button1">Login with Facebook</button></a></p>
            <p><a href="{{ url_for('oauth_authorize', provider='twitter') }}"><button class="button button2">Login with Twitter</button></a></p>
                </div>
        </span>

           {% endif %}

    </body>
</html>
