<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/styles1.css')}}"> 
   </head>
    <body>
        <meta charset="utf-8">
        <meta name="description" content="Intelligent News: Finding Articles that Matter to You">
        <title>Intelligent News</title>
        
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    </head>
    <body>

        <div class="container">
              <div class="header">
                <nav>
                  <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a></li>
                    <li role="presentation"><a href="#">About</a></li>
                <li role="presentation"><a href="/showSignUp">Contact</a></li>
                  </ul>
                </nav>
                <h3 class="text-muted">Intelligent News: News For You</h3>
        </div>

        {% for message in get_flashed_messages() %}
            <p><b>Message</b>: {{ message | safe }}</p>
        {% endfor %}
        {% if current_user.is_authenticated %}
            <h3>Hi, {{ current_user.nickname }}! Here are some articles for you to read:</h3>
            <p><left><a href="{{ url_for('logout') }}">Logout</a><left></p>


          <div class="row marketing">
          <div class="col-lg-6">
            <h4><a href={{urls[0]}} target="_blank">{{titles[0]}}</a></h4>
            <h5><b>Topics -- </b>{{keywords[0]}}</h5>
            <a href="{{ url_for('like', articleId = ids[0]) }}" >LIKE</a></p>

            <h4><a href={{urls[1]}} target="_blank">{{titles[1]}}</a></h4>
            <h5><b>Topics -- </b>{{keywords[1]}}</h5>
            <a href="{{ url_for('like', articleId = ids[1]) }}" >LIKE</a></p>

            <h4><a href={{urls[2]}} target="_blank">{{titles[2]}}</a> </h4>
            <h5><b>Topics -- </b>{{keywords[2]}}</h5>
            <a href="{{ url_for('like', articleId = ids[2]) }}" >LIKE</a></p>
          </div>

          <div class="col-lg-6">

            <h4><a href={{urls[3]}} target="_blank">{{titles[3]}}</a></h4>
            <h5><b>Topics -- </b>{{keywords[3]}}</h5>
            <a href="{{ url_for('like', articleId = ids[3]) }}" >LIKE</a></p>

            <h4><a href={{urls[4]}} target="_blank">{{titles[4]}}</a></h4>
            <h5><b>Topics -- </b>{{keywords[4]}}</h5>
            <a href="{{ url_for('like', articleId = ids[4]) }}" >LIKE</a></p>

            <h4><a href={{urls[5]}} target="_blank">{{titles[5]}}</a> </h4>
            <h5><b>Topics -- </b>{{keywords[5]}}</h5>
            <a href="{{ url_for('like', articleId = ids[5]) }}" >LIKE</a></p>
          </div>
      </div>


    {% else %}      
        <div class="p1">
        <span class="p2" style="text-align:center;">
            <strong>LOGIN</strong>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            <p><a href="{{ url_for('oauth_authorize', provider='facebook') }}"><button class="button button1">Login with Facebook</button></a></p>
            <p><a href="{{ url_for('oauth_authorize', provider='twitter') }}"><button class="button button2">Login with Twitter</button></a></p>
                </div>
        </span>

           {% endif %}

    </body>
</html>
